# Certificates folder
certs/*

# DH
dhparam/*

# HTML directory for deafults
html/*

# Nginx config directory with deafult.conf
/data/nginx_common/*
!/data/nginx_common/.gitkeep
!/data/nginx_common/.additional.conf

# Nginx config directory with your configs
/data/nginx_hosts/*
!/data/nginx_hosts/.gitkeep
!/data/nginx_hosts/deafult
!/data/nginx_hosts/deafult_location

!*.gitkeep
